<p>modify-content-component works!</p>
<div>
    <h2> Add New Content</h2>
    <label for="title">Title:</label>
    <input type="text" id="title" [(ngModel)]="newContent.title" required>

    <label for="description">Description:</label>
    <input type="text" id="description" [(ngModel)]="newContent.description" required>

    <label for="creator">Creator:</label>
    <input type="text" id="creator" [(ngModel)]="newContent.creator" required>

    <label for="imgURL">Image URL:</label>
    <input type="text" id="imgURL" [(ngModel)]="newContent.imgURL" required>

    <label for="type">Type:</label>
    <input type="text" id="type" [(ngModel)]="newContent.type" required>

    <label for="tags">Tags:</label>
    <input type="text" id="tags" [(ngModel)]="tagsString" required>

    <button (click)="addNewContent()">Add Content</button>
  </div>
