<!-- <p>content-card works!</p> -->

<!-- <div>
    <div>
        @for(content of contentList.content; track content.id; let i = $index){
            <div [innerHTML]="contentList.Final(i)">
            </div>
        }
    </div>
  </div> -->


    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <header class="title">{{content.title}}<header>

  <div class="content-card">
    <!-- <img src="{{content.imgURL}}" alt="{{content.title}}" class="imgs" (click)="onCardClick(content)"> -->
    <img *ngIf="content.imgURL; else defaultImg" src="{{content.imgURL}}" alt="{{content.title}}" class="imgs" (click)="onCardClick(content)">
    
    <ng-template #defaultImg>
        <img src="https://play-lh.googleusercontent.com/BRbpz0UfKgS3SqallbU3HE0Ka5bCJQ9EHHLPCZre0X2kKXITNLx3srqbtn8EYNLapYU" class="img" (click)="onCardClick(content)">
    </ng-template>

    <p class="des"><i>Description: </i>{{content.description}}</p>
    <p><i>Creator: </i>{{content.creator}}</p>
    <p appHoverAffect [hoverStyle]="'textDecoration'"><i>Type: </i> {{content.type}}</p>
    <strong>Tags:</strong>
    <ul appHoverAffect [hoverStyle]="'fontWeight'" *ngFor="let tag of content.tags">
        <li>{{tag}}</li>
    </ul>
</div>