<!-- <p>content-card works!</p> -->

<!-- <div>
    <div>
        @for(content of contentList.content; track content.id; let i = $index){
            <div [innerHTML]="contentList.Final(i)">
            </div>
        }
    </div>
  </div> -->

  <div class="content-card">
    <img src="{{content.imgURL}}" alt="{{content.title}}" class="imgs" (click)="onCardClick(content)">
    <h3 style="text-align: center;">{{content.title}}</h3>
    <p class="des"><i>Description: </i>{{content.description}}</p>
    <p><i>Creator: </i>{{content.creator}}</p>
    <p><i>Type: </i> {{content.type}}</p>
    <i>Tags:</i>
    <p>{{ content.tags.join(', ') }}</p>
</div>